@charset "utf-8";
/*======================
    ＊　初期化　＊
======================*/
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 13px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Hiragino Kaku Gothic ProN;
    font-family: "Trebuchet MS", arial, helvetica, Sans-Serif;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
}
ul, ol, dl, dd, h1, h2, p {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
body {
    position: relative;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
p {
    display: inline-block;
}
hr {
    border-top: none;
    border-bottom: 1px solid #888;
    height: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
canvas, img, video {
    max-width: none;
}

/*======================
    ＊　構成　＊
======================*/
body {
    background: #000;
}
.link {
    color: #fc0;
}
.link:hover {
    text-decoration: underline;
}
#view_container {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}
#header {
    position: fixed;
    top: -0px;
    width: 100%;
    height: 30px;
    padding: 7px 20px;
    background: rgba(0,0,0,0.8);
    border-bottom: 1px solid #fc0;
    z-index: 10000;
}
#header .gototop:hover {
    color: #fc0;
}
#header .btn_menu {
    position: absolute;
    top: 7px;
    right: 20px;
    width: 80px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
#header .btn_menu:hover {
    background: #fc0;
    color: #000;
    border-radius: 5px;
}
#menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
}
#menu.menu_on{
    display: block;
}
#menu ul {
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    transition: opacity 0.3s ease-out;
    /* text-align: center; */
    overflow: auto;
    padding-left: 5px;
}
#menu .menu_title {
    font-weight: bold;
    background: #fc0;
    margin-bottom: 3px;
    margin-top: 6px;
    width: 200px;
    color: #000;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
}
#menu ul li{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    /* height: 80px; */
    height: 50px;
    margin: 4px;
    overflow: hidden;
    text-align: center;
}
#menu ul li{
    display: inline-block;
    width: 190px;
    /* height: 80px; */
    height: 50px;
    vertical-align: top;
    margin: 5px;
    overflow: hidden;
}
#menu ul li a {
    position: relative;
    display: inline-block;
    width: 190px;
    /* height: 80px; */
    height: 50px;
    border: 1px solid #888;
}
#menu ul li a:hover {
    border: 1px solid #fc0;
}
#menu ul li a img{
    width: 188px;
    /* height: 78px; */
    height: 48px;
}
#menu ul li a div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    /* padding-top: 60px; */
    padding-top: 30px;
    transition: padding-top 0.3s ease-out;
}
#menu ul li:hover a div {
    color: #fc0;
    padding-top: 5px;
}
#menu ul li a p {
    position: absolute;
    top: 3px;
    right: 8px;
    color: #f00;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 1px 0px 1px #000, 0px 1px 1px #000, -1px 0px 1px #000, 0px -1px 1px #000, 1px 0px 3px #000, 0px 1px 3px #000, -1px 0px 3px #000, 0px -1px 3px #000;
}
#menu ,
#menu ul {
    overflow-x: hidden;
    overflow-y: scroll;
}
#menu::-webkit-scrollbar ,
#menu ul::-webkit-scrollbar {
    display: none;
}
#view_container.device_sp #menu ul li a div {
    padding-top: 5px;
}
#view_container.device_sp #menu ul li:hover a div {
    color: #fff;
}
#view_container.device_sp #menu ul li{
    margin: 1px 5px;
}
#view_container.device_sp #menu ul li a p {
    top: -5px;
    right: 0px;
}
#background div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        from(rgba(0,0,0,0)),
        color-stop(0.8, rgba(0,0,0,0)),
        to(rgba(0,0,0,1)));
}
#stage {
    position: relative;
    max-width: 980px;
    background: rgba(0,0,0,0.8);
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#view_container.device_sp #stage {
    padding-left: 0px;
    padding-right: 0px;
}
#footer {
    position: relative;
    text-align: center;
    font-size: 11px;
    background: rgba(0,0,0,0.8);
    border-top: 1px solid #fc0;
}
#footer .go_to_top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: inline-block;
    background: rgba(255,255,255,0.5);
    width: 30px;
    line-height: 30px;
    border-radius: 15px;
    vertical-align: middle;
    cursor: pointer;
    transform: rotate(-90deg);
    font-weight: bold;
    z-index: 10000;
}
#footer .go_to_top:hover {
    background: #fc0;
}

/*======================
    ＊　パーツ　＊
======================*/
.color_red {
    color: #f00;
}
.color_orange {
    color: #f80;
}
.color_green {
    color: #0a8;
}
.color_yellow {
    color: #fc0;
}
.color_fc0 {
    color: #fc0;
}
.marB1 { margin-bottom: 1px; }
.marB2 { margin-bottom: 2px; }
.marB3 { margin-bottom: 3px; }
.marB5 { margin-bottom: 5px; }
.marB8 { margin-bottom: 8px; }
.marB10 { margin-bottom: 10px; }
.marT1 { margin-top: 1px; }
.marT2 { margin-top: 2px; }
.marT3 { margin-top: 3px; }
.marT5 { margin-top: 5px; }
.marT8 { margin-top: 8px; }
.marT10 { margin-top: 10px; }
.marR1 { margin-right: 1px; }
.marR2 { margin-right: 2px; }
.marR3 { margin-right: 3px; }
.marR5 { margin-right: 5px; }
.marR8 { margin-right: 8px; }
.marR10 { margin-right: 10px; }
.marL1 { margin-left: 1px; }
.marL2 { margin-left: 2px; }
.marL3 { margin-left: 3px; }
.marL5 { margin-left: 5px; }
.marL8 { margin-left: 8px; }
.marL10 { margin-left: 10px; }

.marB-1 { margin-bottom: -1px; }
.marB-2 { margin-bottom: -2px; }
.marB-3 { margin-bottom: -3px; }
.marB-5 { margin-bottom: -5px; }
.marB-8 { margin-bottom: -8px; }
.marB-10 { margin-bottom: -10px; }
.marT-1 { margin-top: -1px; }
.marT-2 { margin-top: -2px; }
.marT-3 { margin-top: -3px; }
.marT-5 { margin-top: -5px; }
.marT-8 { margin-top: -8px; }
.marT-10 { margin-top: -10px; }
.marR-1 { margin-right: -1px; }
.marR-2 { margin-right: -2px; }
.marR-3 { margin-right: -3px; }
.marR-5 { margin-right: -5px; }
.marR-8 { margin-right: -8px; }
.marR-10 { margin-right: -10px; }
.marL-1 { margin-left: -1px; }
.marL-2 { margin-left: -2px; }
.marL-3 { margin-left: -3px; }
.marL-5 { margin-left: -5px; }
.marL-8 { margin-left: -8px; }
.marL-10 { margin-left: -10px; }

.padB1 { padding-bottom: 1px; }
.padB2 { padding-bottom: 2px; }
.padB3 { padding-bottom: 3px; }
.padB5 { padding-bottom: 5px; }
.padB8 { padding-bottom: 8px; }
.padB10 { padding-bottom: 10px; }
.padT1 { padding-top: 1px; }
.padT2 { padding-top: 2px; }
.padT3 { padding-top: 3px; }
.padT5 { padding-top: 5px; }
.padT8 { padding-top: 8px; }
.padT10 { padding-top: 10px; }
.padR1 { padding-right: 1px; }
.padR2 { padding-right: 2px; }
.padR3 { padding-right: 3px; }
.padR5 { padding-right: 5px; }
.padR8 { padding-right: 8px; }
.padR10 { padding-right: 10px; }
.padL1 { padding-left: 1px; }
.padL2 { padding-left: 2px; }
.padL3 { padding-left: 3px; }
.padL5 { padding-left: 5px; }
.padL8 { padding-left: 8px; }
.padL10 { padding-left: 10px; }

.size_S,
.size_S *{
    font-size: 10px;
}
.size_M,
.size_M *{
    font-size: 11px;
}
.btn_SS{
    display: inline-block;
    line-height: 26px;
    height: 26px;
    width: 26px;
    text-align: center;
    background: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.btn_S{
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 3px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.btn_S.current{
    background: #383;
}
.btn_M{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    line-height: 30px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.btn_M.current{
    background: #383;
}
.underline{
    text-decoration: underline;
}
.underline:hover {
    text-decoration: underline;
    color: #fc0;
}
.center{
    text-align: center;
}

/*======================*/
article.contents{
    display: inline-block;
    vertical-align: top;
}
.header_title{
    width: 600px;
}
.index_menu{
    display: inline-block;
    width: 600px;
    margin-bottom: 10px;
}
#view_container.device_sp .header_title,
#view_container.device_sp .index_menu{
    width: 411px;
}
.index_menu ul {
    width: 100%;
    height: 100%;
    padding: 5px 0px;
    background: #333;
    /* text-align: center; */
    overflow: auto;
    border: 1px solid #888;
    border-radius: 3px;
}
.index_menu .menu_title {
    font-weight: bold;
    background: #fc0;
    margin-bottom: 3px;
    margin-top: 6px;
    width: 200px;
    color: #000;
    padding: 3px 10px;
    border-radius: 0px 10px 10px 0px;
}
.index_menu ul li{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    /* height: 80px; */
    height: 50px;
    margin: 4px;
    overflow: hidden;
    text-align: center;
}
.index_menu ul li a {
    position: relative;
    display: inline-block;
    width: 190px;
    /* height: 80px; */
    height: 50px;
    border: 1px solid #888;
}
.index_menu ul li a:hover {
    border: 1px solid #fc0;
}
.index_menu ul li a img{
    width: 188px;
    /* height: 78px; */
    height: 48px;

}
.index_menu ul li a div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: #fff;
    /* padding-top: 60px; */
    padding-top: 30px;
    transition: padding-top 0.3s ease-out;
}
.index_menu ul li:hover a div {
    color: #fc0;
    padding-top: 5px;
}
.index_menu ul li a p {
    position: absolute;
    top: 3px;
    right: 8px;
    color: #f00;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 0px 0px 1px #000, 1px 0px 1px #000, 0px 1px 1px #000, -1px 0px 1px #000, 0px -1px 1px #000, 1px 0px 3px #000, 0px 1px 3px #000, -1px 0px 3px #000, 0px -1px 3px #000;
}
#view_container.device_sp .index_menu ul li{
    /* height: 48px; */
    /* margin: 0px; */
}
#view_container.device_sp .index_menu ul li a {
    /* height: 48px; */
}
#view_container.device_sp .index_menu ul li div {
        padding-top: 3px;
}
/*
#view_container.device_sp .index_menu ul li a img {
    display: none;
}
 */
#view_container.device_sp .index_menu ul li a p {
    top: -5px;
    right: 0px;
}
.index_moomoo {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #333;
    border: 1px solid #888;
    border-radius: 3px;
    margin: 0px 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.index_moomoo .profile_image {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background: url(../img/trunk/tw_image5.png);
    background-size: 100px;
}
/*
.index_moomoo .profile_image:hover {
    background: url(../img/trunk/tw_image4.jpg);
    background-size: 100px;
}
 */
.index_moomoo div {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}
.index_moomoo a:hover {
    text-decoration: underline;
    color: #fc0;
}
.index_twitter {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0px 10px;
}
.index_update_notice {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    margin: 0px 10px;
    margin-bottom: 10px;
}
.index_update_notice ul {
    background: #333;
    width: 283px;
}
.index_update_notice ul li{
    display: inline-block;
    width: 283px;
    font-size: 11px;
    border-bottom: 1px solid #888;
    padding: 5px;
}

/*======================*/

.bahamut_image{
    width: 320px;
    height: auto;
}

/*======================*/

.equipment_list *{
    font-size: 10px;
}
.equipment_list td{
    border: 1px solid #777;
    text-align: center;
}
.equipment_list tr td:nth-child(3),
.equipment_list tr td:nth-child(4),
.equipment_list tr td:nth-child(5),
.equipment_list tr td:nth-child(6),
.equipment_list tr td:nth-child(7),
.equipment_list tr td:nth-child(8),
.equipment_list tr td:nth-child(9),
.equipment_list tr td:nth-child(10),
.equipment_list tr td:nth-child(11),
.equipment_list tr td:nth-child(12){
    width: 25px;
}
#job_01 tr:first-child,
#job_01 tr:last-child{
    background: #6e8a9a;
}
#job_02 tr:first-child,
#job_02 tr:last-child{
    background: #ac1211;
}
#job_03 tr:first-child,
#job_03 tr:last-child{
    background: #95741e;
}
#job_04 tr:first-child,
#job_04 tr:last-child{
    background: #2b3b95;
}
#job_05 tr:first-child,
#job_05 tr:last-child{
    background: #5a752c;
}
#job_06 tr:first-child,
#job_06 tr:last-child{
    background: #666;
}
#job_07 tr:first-child,
#job_07 tr:last-child{
    background: #440038;
}
#job_08 tr:first-child,
#job_08 tr:last-child{
    background: #322f93;
}
#job_09 tr:first-child,
#job_09 tr:last-child{
    background: #3c6b2e;
}
select, textarea, input, option{
    background: #ccc;
    color: #000;
}

/*======================*/

.e_clock{
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 0px auto;
    padding: 3px 10px;
    text-align: center;
    width: 200px;
}
.atma_temp_list tr.getted td{
    background: #050;
}
.atma_temp_list *,
.atma_temp_list2 *{
    font-size: 10px;
}
.atma_temp_list,
.atma_temp_list2{
    margin: 0px auto;
    background: #000;
    margin-bottom: 10px;
    border-radius: 5px;
}
.atma_temp_list td{
    background: #222;
    padding: 1px 5px;
    border-radius: 3px;
}
.atma_temp_list2 td{
    background: #222;
    padding: 1px 3px;
    text-align: center;
    border-radius: 3px;
}
.atma_temp_list td.current,
.atma_temp_list2 td.current{
    background: #f00;
}
.atma_temp_list td.current2{
    background: #800;
}
.eTime_month td{
    width: 25px;
    padding: 1px 0px;
}

.bg_color_1{ background: #8ea9c6!important; text-align: center; }
.bg_color_2{ background: #2c9dbd!important; text-align: center; }
.bg_color_3{ background: #91b086!important; text-align: center; }
.bg_color_4{ background: #846e92!important; text-align: center; }
.bg_color_5{ background: #cf410f!important; text-align: center; }
.bg_color_6{ background: #9f6632!important; text-align: center; }
.bg_color_7{ background: #000000!important; text-align: center; }
.bg_color_8{ background: #000000!important; text-align: center; }

/*======================*/

.sightseeing_clock_layout{
    margin: 0px auto;
    background: #333;
    /* width: 450px; */
}
.sightseeing_clock_layout th{
    background: #444;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
}
.sightseeing_clock_layout td{
    background: #000;
    padding: 3px 10px;
    font-size: 12px;
    color: #fff;
}
.sightseeing_clock_layout tr.completed td{
    background: #050;
}
.sightseeing_clock_layout tr.current td{
    color: #f80;
}

/*======================*/

.dye_list{
    margin: 0px auto;
    background: #000;
}
.dye_list td{
    background: #222;
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
}

/*======================*/

.mobhunt_map_image{
    width: 320px;
    height: auto;
}

/*======================*/

.tripletryad_checklist td{
    vertical-align: top;
    padding-right: 5px;
}
.tripletryad_checklist tr td > .tripletryad_layout td{
    width: 220px;
}
.howto1,
.howto2{
    position: absolute;
    display: none;
    top: 50px;
    left: 10px;
    border: 3px dotted #f00;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    z-index: 10;
}
.howto1.show,
.howto2.show{
    display: block;
    opacity: 1;
  }
.tripletryad_layout{
    border: 1px solid #888;
    border-radius: 5px;
    background: #000;
}
.tripletryad_layout th{
    background: #338;
    font-size: 11px;
}
.tripletryad_layout td,
.tripletryad_layout td p{
    /*background: #333;*/
    padding: 1px 3px;
    font-size: 11px;
    white-space: nowrap;
}
.tripletryad_layout thead td{
    text-align: center;
}
.tripletryad_layout tr{
    background: #555;
}
.tripletryad_layout tr.odd{
    background: #444;
}
.tripletryad_layout td.check{
    background: #383;
    position: relative;
}
.tripletryad_layout p.check{
    color: #3f3;
}
.tripletryad_checklist tr td > .tripletryad_layout td.check:after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/triple_tryad/check.png);
    background-size: 18px 15px;
    width: 18px;
    height: 15px;
}
.tripletryad_checklist tr td > #card_list_count1 td.check:after,
.tripletryad_checklist tr td > #card_list_count2 td.check:after,
.tripletryad_checklist tr td > #card_list_count3 td.check:after,
.tripletryad_checklist tr td > #card_list_count4 td.check:after,
.tripletryad_checklist tr td > #card_list_count5 td.check:after{
    top:  8px;
}
/*======================*/

.img_thum{
    position: relative;
    width: 320px;
    margin: 0px auto;
}
.img_thum2{
    position: relative;
    width: 316px;
    margin: 0px auto;
}
.action_list_box{
    position: relative;
    font-size: 11px;
    border: 2px solid #555;
    border-radius: 5px;
    margin-bottom: 5px;
}
.action_list_box .title{
    position: relative;
    font-size: 11px;
    background: #555;
}
.action_list_box.completed{
    border: 2px solid #050;
}
.action_list_box.completed .title{
    background: #050;
}
.action_list_box .comp_mark{
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    width: 70px;
    line-height: 15px;
    text-align: center;
    font-size: 11px;
    color: #0f0;
    border: 2px solid #0f0;
    background: #050;
    border-radius: 15px;
}
.action_list_box.completed .comp_mark{
    display: inline-block;
}
.action_list{
    margin: 0px auto;
    background: #333;
    width: 700px;
}
.action_list tr.completed td{
    background: #050;
}
.action_list th{
    font-size: 11px;
    color: #fff;
}
.action_list td{
    background: #000;
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
}

/*======================*/

.icon_generator canvas,
.icon_generator img,{
    /*width:250px;*/
    /*height:250px;*/
    /*background: rgba(255,255,255,0.3);*/
    border: solid 1px #888;
}
.icon_settings .thumb_img1 {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #000;
}
.icon_settings .thmub_img2{
    width: 50px;
}
.icon_settings{
    display: inline-block;
    border: 1px solid #888;
    border-radius: 5px;
}
.icon_settings >table td{
    background: #555;
    padding: 5px 5px;
}
.icon_settings .checked{
    color: red;
}
.number_select td{
    padding: 0px 8px !important;
}

/*======================*/

.diademMap_wrapper {
    position: relative;
    width: 710px;
    height: 710px;
    overflow: hidden;
}
.diademMap_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 710px;
}
.diademMap_img.map_easy {
    z-index: 10;
    display: none;
}
.diademMap_img.map_normal {
    z-index: 10;
    display: none;
}
.diademMap_img.map_hard {
    z-index: 10;
    display: none;
}
.diademMap_img.map_point {
    z-index: 9;
    display: none;
}
.diademMap_img.map_gathe {
    z-index: 8;
    display: none;
}
.diademMap_img.map_gathe2 {
    z-index: 7;
    display: none;
}
.diademMap_img.map_cave {
    z-index: 6;
    display: none;
}
.diademMap_img.map_altit {
    z-index: 5;
    display: none;
}
.diademMap_img.map_photo {
    z-index: 2;
    display: none;
}
.diademMap_img.map_base {
    z-index: 1;
}
.diademMap_pos_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 680px;
    height: 680px;
    margin: 15px;
    z-index: 20;
}
.diademMap_pos_wrapper .diademMap_pos {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.diademMap_pos_wrapper .diademMap_pos:hover {
    content: "id";
    background: rgba(255,0,0,0.5);
}